.App {
  text-align: center;
}

.App-logo {
  height: 40vmin;
  pointer-events: none;
}

@media (prefers-reduced-motion: no-preference) {
  .App-logo {
    animation: App-logo-spin infinite 20s linear;
  }
}

.App-header {
  background-color: #282c34;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: black;
}

.App-link {
  color: #61dafb;
}

nav.nav-wrapper {
  margin: 0;
  width: 100%;
  min-width: 320px;
  height: 10%;
  max-height: 44px;
  display: flex;
  font-size: 17px;
  /* position: fixed;
  top: 0%; */
  color: white;
  text-align: left;
  vertical-align: middle;
  background-color: #282c34;
}

nav .title{
  padding: 10px; 
  font-size: large;
  font-weight: bold;
}

.user-data.wrapper{
  /* display: inline-block;
  padding: 20px; */
  display: flex;
  flex-direction: row; /* Align items horizontally */
  justify-content: space-evenly;
}

.user-data.user-profile{
  text-align: center
}

.user-data.user-socials{
  display: flex;
  flex-direction: row; /* Align items horizontally */
  justify-content: space-evenly;
}


.user-data .user-img{
  width:  150px;
  border-radius: 50%;
  margin-left: 50px;
  margin-top: 50px;
}


.user-data .user-pro{
  margin-top: 30%;
}

.user-data .social-img{
  width:  50px;
  /* border-radius: 50%; */
  margin: 20px;
}

.user-data .name{
  /* margin-left: 50px; */
  /* float: left; */
  font-weight: 600;
}

.repo-data.wrapper
{
  display: inline-block;
  /* background-color: aqua; */
  background-color: #282c34;
  width: 95%;
  color: white;
  border-radius: 10px;
  padding: 20px;
  margin-bottom: 20px;
}

.repo-data .name{
  padding: 10px;
  font-weight: 500;
}

.repo-data .repo-stats
{
  display: flex;
  flex-direction: row; /* Align items horizontally */
  justify-content: space-evenly;
}

.form-data.wrapper{ 
  width: 100%;
  text-align: center;
  justify-content: center;
  align-items: center;
}

.form-data.container{ 
  margin-top: 20%;
  text-align: center;

}

.div-with-line {
  flex: 1;
  border-right: 10px solid rgb(0, 0, 0); /* This creates the line */
  padding: 10px; /* Add some spacing for better visualization */
  box-sizing: border-box; /* Ensure padding is included in width */
}

@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}
